Repository MobileApps-Cascadia/photopoints-ios, pull requests merged in 2020-05, with the labels that each got.

#7 Closes #3
  Documentation/DataModel_Flow.png
  Documentation/UI_Flow.png
  PhotoPoints.xcodeproj/project.xcworkspace/xcuserdata/claysuttner.xcuserdatad/UserInterfaceState.xcuserstate
Labels: documentation

#36 Closes #8 - Repository and Realm database
  PhotoPoints.xcodeproj/project.pbxproj
  PhotoPoints/MainTabBar.swift
  PhotoPoints/Model/PointItemType.swift
  PhotoPoints/Model/Repository.swift
Labels: architecture, data model

#56 JSON file updated to current specs
  PhotoPoints/Models/Initial Data/data.json
Labels: data model
